<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LeagueFPSBoost.Properties.UpdaterMessageBoxSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LeagueFPSBoost.Properties.UpdaterActionsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LeagueFPSBoost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LeagueFPSBoost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LeagueFPSBoost.Properties.UpdaterMessageBoxSettings>
            <setting name="ManuallyDownloadLeagueFPSBoostMessageBox_Ran" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FailedUpdateSorryMessageBox_Ran" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameBarAndFullScrOptimMessageBox_Ran" serializeAs="String">
                <value>False</value>
            </setting>
        </LeagueFPSBoost.Properties.UpdaterMessageBoxSettings>
        <LeagueFPSBoost.Properties.UpdaterActionsSettings>
            <setting name="RestartPostUpdateAction_Ran" serializeAs="String">
                <value>False</value>
            </setting>
        </LeagueFPSBoost.Properties.UpdaterActionsSettings>
        <LeagueFPSBoost.Properties.Settings>
            <setting name="ThemeStyle" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="ColorStyle" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Notifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LeaguePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastActivePowerPlan" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="HighPPPAgreement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserConfigCorrectionHelperCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RegistryAgreement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessWatcherEnable" serializeAs="String">
                <value>True</value>
            </setting>
        </LeagueFPSBoost.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LeagueFPSBoost.Properties.Settings>
            <setting name="UpdaterXML_URL" serializeAs="String">
                <value>https://raw.githubusercontent.com/DjordjeMandic/LeagueFPSBoost/master/AutoUpdater/updater.xml</value>
            </setting>
        </LeagueFPSBoost.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.4.0" newVersion="1.13.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Handlebars" publicKeyToken="22225d0bf33cd661" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.10.1.0" newVersion="1.10.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
