<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.4.10" targetFramework="net471" />
  <package id="ByteSize" version="1.3.0" targetFramework="net471" />
  <package id="Costura.Fody" version="3.1.0" targetFramework="net471" />
  <package id="CrashReporter.NET.Official" version="1.5.5" targetFramework="net471" />
  <package id="Fody" version="3.1.3" targetFramework="net471" developmentDependency="true" />
  <package id="ini-parser" version="2.5.2" targetFramework="net471" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net471" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net471" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net471" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net471" />
  <package id="NAudio" version="1.8.4" targetFramework="net471" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net471" />
  <package id="NLog" version="4.5.6" targetFramework="net471" />
  <package id="PowerManagerAPI" version="0.1.0-ci-20170528-042127" targetFramework="net471" />
</packages>